$color-primary: #0c9cdd;
$color-secondary: #7fdbff;
$color-accent: #ff4136;
$color-icon-default: #65696e;
$color-success: #28a745;
$color-background-app: #f0f0f0;
$color-text: #333;
$color-text-blur: #707070;
// define font variables
$font-family: Roboto, Helvetica, Arial, sans-serif;
$font-size-base: 16px;
$header-height: 68px;