@mixin rotate($deg, $x: null, $y:null){
    @if $x != null{
        transform: rotateX($x);
    }@else if $y != null{
        transform: rotateY($y);
    }@else{
        transform: rotate(deg);
    }
}