
@for $i from 1 through 100 {
    .gap-#{$i}{
        gap: $i + px;
    }
}


.flex {
    display: flex;

    &-column {
        flex-direction: column;

        &-reverse {
            flex-direction: column-reverse;
        }
    }

    &-1 {
        flex: 1;
    }

    &-center{
        justify-content: center;
        align-items: center;
    }
    
    &-wrap{
        flex-wrap: wrap;
    }

    &-no-wrap{
        flex-wrap: nowrap;
    }
}

.content {
    &-center {
        justify-content: center;
    }

    &-space-between {
        justify-content: space-between;
    }

    &-between {
        justify-content: space-between;
    }

    &-space-around {
        justify-content: space-around;
    }

    &-around {
        justify-content: space-around;
    }
    
    &-end {
        justify-content: flex-end;
    }
}

.items{
    &-center{
        align-items: center;
    }
}

.d-block{
    display: block;
}